:root {
    --cor-primaria: #13293D;
    --cor-secundaria: #006494;
    --cor-terciaria: #247BA0;
    --cor-destaque: #1B98E0;
    --cor-fundo: #E8F1F2;
;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin: 5%; 
    background: var(--cor-fundo);
    background: linear-gradient(90deg, var(--cor-primaria) 1%, var(--cor-secundaria) 50%, var(--cor-terciaria) 100%);
}

footer{ 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: var(--cor-primaria);
}

a:link{
    color: var(--cor-destaque);
}

a:hover {
    color: var(--cor-secundaria);
}
