/* Estilo para o corpo */
body form {
  background-color: #E8F1F2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  margin: 0;
}

/* Estilo para o formulário */
.container form {
  max-width: 800px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  /* Centraliza o formulário */
}

/* Estilo para os campos do formulário */
.container form input,
.container form textarea,
.container form select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea::placeholder, input::placeholder {
  font-style: italic;
  color: #787878;
}

/* Estilo para o título */
h1 {
  color: #13293D;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

/* Estilo para o fieldset */
.fieldset {
  border: 2px solid #006494;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

/* Estilo para a legend */
legend {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #00506b;
}

/* Estilo para os labels */
.label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

/* Estilo para os botões */
button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #00506b;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #006494;
  transform: scale(1.05);
}

/* Ajusta o tamanho das elipses e mantém o alinhamento à esquerda */
.form-check-input-form[type="radio"] {
  margin-right: 5px;
  width: 13px;
  height: 13px;
}
